<script type="text/javascript">

  $(function(){
    $.get('/api/users', function(data, code){
      $('#loading').hide();
      initUserTable(data);
    });
  });

  function initUserTable(users){
    var table = $('#tbody');
    var addNode = function(user){
      return  "<tr><td><input type=checkbox name=select id="+ user.id +" /></td><td>"
              + user.name + "</td><td>"
              + user.email + "</td><td>"
              + user.created_at + "</td><td>"
              + (user.admin ? "是" : "否") + "</td></tr>";
    };
    for(var user of users){
       table.append(addNode(user));
    }
  }

  $(function(){
    $('#deleteMutilple').click(function(){
      var user_ids = [];
      var selectBlog = $('input[name=select]');
      selectBlog.each(function(i){
        if($(this).is(":checked")){
          user_ids.push($(this).attr('id'));
        }
      })
      var modalContent = $('#delete-confirm');
      $('#delete-confirm').modal({
      onConfirm : function(){
          for(var user_id of user_ids){
            $.post('/api/delete/user', {
              user_id : user_id
            }, function(data){});      
          }
          var message = $('#message-content');
          message.text("删除完毕");
          $('#message').modal({
            onConfirm : function(){
              location.reload();
            }
          });
        }
      }); 
    });
  });

  $(function(){
    $('#selectAll').click(function(){
      var selectBlog = $('input[name=select]');
      if ($(this).is(":checked")){
        selectBlog.prop("checked", "true");
      }
      else{
        selectBlog.prop("checked", "");
      }
    });
  });
</script>

<div class="admin-content">    
    <div class="am-g">
      <div class="am-u-sm-9 am-u-sm-centered">
      	<ol class="am-breadcrumb" style="font-size:18px;">
  		  <li><a href="/" class="am-icon-home">首页</a></li>
  		  <li class="am-active">用户管理</li>
  		  <li><a href="/manage/blogs">博客管理</a></li>
		    </ol>
		<hr>
        <div id="loading" class="am-width-1-1 am-text-center">
          <span><i class="am-icon-spinner am-icon-medium am-icon-spin"></i> 正在加载...</span>
        </div>
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs" >
            <button type="button" class="am-btn am-btn-default" onclick="location.assign('/registe')"><span class="am-icon-plus"></span> 新增</button>
            <button type="button" class="am-btn am-btn-default" id="deleteMutilple"><span class="am-icon-trash-o"></span> 删除</button>
          </div>
        </div>
          <table class="am-table">
		      <thead>
                <tr>
                  <th><input type="checkbox" id="selectAll"></th>
                  <th>用户名</th>
                  <th>电子邮箱</th>
                  <th>创建日期</th>
                  <th>管理员</th>
                </tr>
		      </thead>
		      <tbody id="tbody">
		      </tbody>
		  </table>
      <hr>
     </div>
    </div>
</div>

<div class="am-modal am-modal-confirm" tabindex="-1" id="delete-confirm">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">提  醒</div>
    <div class="am-modal-bd">
      你，确定要删除选定用户吗？
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="message">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">提  醒</div>
    <div class="am-modal-bd" id="message-content">
      xxoo
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" id="message-confirm" data-am-modal-confirm>确定</span>
    </div>
  </div>
</div>



