<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>标题</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <!-- Amaze UI CSS -->
  <link rel="stylesheet" href="//cdn.amazeui.org/amazeui/2.1.0/css/amazeui.min.css">
  <script src="//libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
  <style type="text/css">
  	#edit_content {
  		font-size: 18px;
		  margin-top: 5%;
		  margin-bottom: 5%;
		  padding: 2% 5% 5% 5%;
		  line-height: 150%;
		  border: 1px solid LightGrey;
  	}
  </style>
  <script type="text/javascript">
  	$(function(){
      $('#cancel').click(function(){
        location.assign('/manage/blogs');
      });
    }); 
    $(function(){
      var title = $('#blog-title'),
          author = $('#blog-author'),
          summary = $('#blog-summary'),
          content = $('#blog-content'),
          blog_id = $('#blog-id');
      $('#save').click(function(){
        if(title.val() === '' || author.val() === '' || summary.val() === '' || content.val() === ''){
            $('#my-modal').modal(open);
        }
        else{
          $.post('/api/blog/update',{
            blog_id : blog_id.val(),
            author : author.val(),
            title : title.val(),
            summary : summary.val(),
            content : content.val()
           },function(data){
              var modalContent = $('#modal-content');
              modalContent.text(data);
              $('#my-modal').modal(open);
              if(data === "update success" || data === "success save"){
                $('#modal-confirm').attr('onclick', "location.assign(\\'/manage/blogs\\')");
            }
           });
        }
      });
    });

  </script>

</head>
<body>

<div class="am-container">
  <div class="am-g">
    <div class="am-u-sm-9 am-u-sm-centered" id="edit_content">
		<ol class="am-breadcrumb" style="font-size:18px;">
  		  <li><a href="/" class="am-icon-home">首页</a></li>
  		  <li><a href="/manage/users">用户管理</a></li>
  		  <li><a href="/manage/blogs">博客管理</a></li>
		</ol>

      	<form role="form" class="am-form">
      	  <legend>编辑博客</legend>
          <input type="text" id="blog-id" value="<%= blog.blog_id%>" style="display:none;">
      	
      	  <div class="am-form-group">
      	    <label for="">博客标题</label>
      	    <input type="text" id="blog-title" placeholder="标题" value="<%= blog.title%>">
      	  </div>

      	  <div class="am-form-group">
      	    <label for="">作者</label>
      	    <input type="text" id="blog-author" placeholder="作者" value="<%= blog.user_name%>">
      	  </div>

      	  <div class="am-form-group">
      	    <label for="">摘要</label>
      	    <textarea id="blog-summary" rows="4" placeholder="摘要" style="resize:none;"><%= blog.summary%></textarea>
      	  </div>

      	  <div class="am-form-group">
      	    <label for="am-form">内容</label>
      	    <textarea id="blog-content" rows="16" placeholder="内容 支持MarkDown语法" style="resize:none"><%= blog.content%></textarea>
      	  </div>
      	
      	  <button type="button" class="am-btn am-btn-primary am-round" id="save">保存</button>
      	  <button type="button" class="am-btn am-btn-success am-round" id="cancel" >取消</button>
      	</form>
    </div>
  </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="my-modal">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">提  醒</div>
    <div class="am-modal-bd" id="modal-content">
      还有东西木有填啊，亲^_^
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn data-am-modal-confirm" id="modal-confirm">确定</span>
    </div>
  </div>
</div>

<!--[if lt IE 9]>
<script src="//libs.useso.com/js/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/polyfill/rem.min.js"></script>
<script src="//libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
<script src="//cdn.amazeui.org/amazeui/2.1.0/js/amazeui.legacy.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="//cdn.amazeui.org/amazeui/2.1.0/js/amazeui.min.js"></script>
<!--<![endif]-->

</body>
</html>