<div class="admin-content">    
    <div class="am-g">
      <div class="am-u-sm-9 am-u-sm-centered">
      	<ol class="am-breadcrumb" style="font-size:18px;">
  		  <li><a href="/" class="am-icon-home">首页</a></li>
  		  <li class="am-active">用户管理</li>
  		  <li><a href="/manage/blogs">博客管理</a></li>
		</ol>
		<hr>
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs" >
            <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
            <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
          </div>
        </div>
          <table class="am-table">
		      <thead>
                <tr>
                  <th><input type="checkbox"></th>
                  <th>用户名</th>
                  <th>电子邮箱</th>
                  <th>创建日期</th>
                  <th>管理员</th>
                </tr>
		      </thead>
		      <tbody>
		          <tr>
		              <td><input type="checkbox" /></td>
		              <td>Amaze UI</td>
		              <td>http://amazeui.org</td>
		              <td>2012-10-01</td>
		              <td>是</td>
		          </tr>
		          <tr>
		          	  <td><input type="checkbox" /></td>
		              <td>Amaze UI</td>
		              <td>http://amazeui.org</td>
		              <td>2012-10-01</td>
		              <td>是</td>
		          </tr>
		          <tr>
		              <td><input type="checkbox" /></td>
		              <td>Amaze UI(Active)</td>
		              <td>http://amazeui.org</td>
		              <td>2012-10-01</td>
		              <td>是</td>
		          </tr>
		      </tbody>
		  </table>
      <hr>
     </div>
    </div>
</div>