<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>注册</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="/static/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/static/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="static/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="static/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <!-- Amaze UI CSS -->
  <link rel="stylesheet" href="//cdn.amazeui.org/amazeui/2.1.0/css/amazeui.min.css">
  <script src="//libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript">
  	function validateEmail(email) {
    		var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    		return re.test(email.toLowerCase());
		}
	function showError(errorCode){
  		$('#warning').text(errorCode);
  		$('.am-alert').css('display', 'block');
	}
  	$(function(){		
  		$('input[name=submit]').click(function(){
  			var errorCode = "";
  			var name = $('#name').val();
  			var email = $('#email').val();
  			var password = $('#password').val();
  			var password2 = $('#password2').val();
  			if(! name.trim()){
  				errorCode += "用户不能为空 ";
  				showError(errorCode);
  				return false;
  			}
  			if(! validateEmail(email.trim().toLowerCase())){
  				errorCode += "请输入合法的email ";
  				showError(errorCode);
  				return false;
  			}
  			if(password.length < 6){
  				errorCode += "密码长度至少为6位 ";
  				showError(errorCode);
  				return false;
  			}
  			if(password !== password2){
  				errorCode += "两次输入输入的密码不一致 ";
  				showError(errorCode);
  				return false;
  			}
  			$('#registeForm').submit();
  		});
  	});
  </script>

</head>
<body>

<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>注册</h3>
    <hr>
    <div class="am-btn-group">
      <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> Github</a>
      <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i> Google+</a>
      <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i> stackOverflow</a>
    </div>
    <br>
    <br>
    <div class="am-alert" style="display:none;">
      <p id="warning"></p>
    </div>

    <form method="post" class="am-form" id="registeForm" action="/api/register">
      <label for="email">用户名:</label>
      <input type="text" name="name" id="name" value="">
      <br>
      <label for="email">邮箱:</label>
      <input type="email" name="email" id="email" value="">
      <br>
      <label for="password">密码:</label>
      <input type="password" name="password" id="password" value="">
      <br>
      <label for="password">重复密码:</label>
      <input type="password" name="password2" id="password2" value="">
      <br>
      <div class="am-cf">
        <input type="submit" name="submit" value="注 册" class="am-btn am-btn-primary am-btn-sm am-fl" style="outline:none;">
      </div>
    </form>
    <hr>
    <p>© 2015 AllMobilize, Inc. Licensed under MIT license.</p>
  </div>
</div>

<!--[if lt IE 9]>
<script src="//libs.useso.com/js/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/polyfill/rem.min.js"></script>
<script src="//libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
<script src="//cdn.amazeui.org/amazeui/2.1.0/js/amazeui.legacy.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="//cdn.amazeui.org/amazeui/2.1.0/js/amazeui.min.js"></script>
<script src="/static/js/sha1.min.js"></script>
<!--<![endif]-->

</body>
</html>